<!DOCTYPE html>
<html ng-app="Module">
<head>
	<title>Puppy Love</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</head>
<body>
	<div class="row banner">
		<img src="images/logo.png">
	</div>
	<div class="row">
		<div class="col-sm-4"></div>
		<div id="main" class="col-sm-4">
			<h3 class="text-center">Login to get started</h3>
			<div id="invalid">
				<div style="display:none;" id="invlid">Invalid Username/Password</div>
			</div>
			<form name="login" ng-controller="login as log" ng-submit="log.submit()">
				<input class="inputbox" type="text" ng-model="log.username" placeholder="CC Username">
				<input class="inputbox" type="password" ng-model="log.password" placeholder="Password">
				<input class="inputbox" type="submit" value="Login">
			</form>
		</div>
		<div class="col-sm-4"></div>
		
	</div>
</body>
</html>
